<h3>Add New Player to Team</h3>
<div>
  <div>
    <label>First Name:</label>
    <br>
    <input #newFirstName>
  </div>

  <div>
    <label>Last Name:</label>
    <br>
    <input #newLastName>
  </div>

  <div>
    <label>Image URL:</label>
    <br>
    <input #newImage>
  </div>

  <div>
    <label>Notes:</label>
    <br>
    <textarea #newNotes></textarea>
  </div>
  <button (click)="submitForm(newFirstName.value, newLastName.value, newImage.value, newNotes.value); newFirstName.value=''; newLastName.value=''; newImage.value=''; newNotes.value=''">Add</button>
</div>

<div>
  <app-roster></app-roster>
</div>
